.routine-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.title {
    text-align: left;
    margin: 10px 50px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}