.routine-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.title {
    text-align: left;
    margin: 10px 50px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

@media screen and (max-width: 450px) {
    .routine-container {
        display: flex;
        flex-direction: column-reverse;

    }

    .title {
        text-align: left;
    }

    .books-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}

@media screen and (min-width: 451px) and (max-width: 800px) {

    .books-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}