.book-container {
    background-color: rgb(227, 213, 201);
    padding: 15px;
    height: 600px;
    border-radius: 20px;
}

.book-container img {
    width: 290px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.book-container button {
    width: 318px;
    height: 36px;
    background-color: rgb(217, 92, 38);
    border: none;
    border-radius: 30px;
    color: aliceblue;
}

.book-container button:hover {
    background-color: rgb(237, 39, 4);
}

.title-and-time {
    text-align: left;
}